html {
  color: #222;
  font-size: 1.1em;
  line-height: 1.4;
  background-color: #2b2b3a;
}

.mapWrapper {
  max-width: 100%;
  height: 50vh;
  margin: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.map{
  width: 100%;
  height: 100%;
}

.mainBody{
  max-width: 1000px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  color: #eeeeee;
}

.cardView:link, .cardView:visited {
  background-color: #eeeeee;
  color: black;
  border: 2px solid green;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.cardView:hover, .cardView:active {
  background-color: green;
  color: #eeeeee;
}

.cardHeader {
  font-weight: bold;
  font-size: 1.2em;
  white-space: nowrap;
  padding-right: 15px;
}

.image{
  max-width: 100%;
  height: auto;
}

.twoImage{
  max-width: 49.5%;
  height: auto;
}

#RockList li a, #Utilities li a{
  transition: all 0.2s;
  text-transform: uppercase;
  text-decoration: underline;
  color: #5478ff;
  border: 2px solid transparent;
  letter-spacing: 0.051em;
  font-size: 0.8rem;
  margin: 10px;
  position: relative;
}

#RockList li a:hover, #Utilities li a:hover{
  text-decoration: underline;
  cursor: pointer;
  color: #919191;
}